<%= form_with(model: watchdog, local: true) do |form| %>
  <% if watchdog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watchdog.errors.count, "error") %> prohibited this watchdog from being saved:</h2>

      <ul>
      <% watchdog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
