<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @watchdog.user_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @watchdog.ip %>
</p>

<p>
  <strong>Details:</strong>
  <%= @watchdog.details %>
</p>

<%= link_to 'Edit', edit_watchdog_path(@watchdog) %> |
<%= link_to 'Back', watchdogs_path %>
