<p><%= t(".opening") %></p>

<p>
    <a href="http://localhost:3000/users/<%= @user.id %>/password/edit?token=<%= @user.confirmation_token.html_safe%>"  target="_blank"><%= "Change my password" %></a>
</p>

<!--  <p>
   <%# link_to t(".link_text", default: "Change my password"),
     edit_user_password_url(@user, token: @user.confirmation_token.html_safe) %>
 </p> -->

<p><%= raw t(".closing") %></p>

kljk