<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to amira.com, <%= @email %></h1>
    <p>
    <a href="https://clearance.herokuapp.com/unlockaccount?token=<%= @token%>&id=<%= @id%>"  target="_blank"><%= "click here to unlock your account" %></a>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
