<p id="notice"><%= notice %></p>

<h1>Verifications</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Email confirmation token</th>
      <th>Email confirmed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verifications.each do |verification| %>
      <tr>
        <td><%= verification.user_id %></td>
        <td><%= verification.email_confirmation_token %></td>
        <td><%= verification.email_confirmed_at %></td>
        <td><%= link_to 'Show', verification %></td>
        <td><%= link_to 'Edit', edit_verification_path(verification) %></td>
        <td><%= link_to 'Destroy', verification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verification', new_verification_path %>
