<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<br>

<div class="text-field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

<br>


<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<br>
