<h1>Editing User</h1>
<%= form_for @user do |form| %>
<%= render partial: '/users/form', object: form %>
<%# render 'form', user: @user %>
<div class="submit-field">
<%= form.submit %>
</div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
