
<!DOCTYPE html>
<!-- Template Name: Packet - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<!-- start: HEAD -->
	<head>
		<title>Payers - Payment Facilator</title>
		<!-- start: META -->
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="" name="description" />
		<meta content="" name="author" />
		<!-- end: META -->
		<!-- start: GOOGLE FONTS -->
		<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
		<!-- end: GOOGLE FONTS -->
		<!-- start: MAIN CSS -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/bower_components/themify-icons/themify-icons.css">
		<link rel="stylesheet" href="/bower_components/flag-icon-css/css/flag-icon.min.css">
		<link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
		<link rel="stylesheet" href="/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css">
		<link rel="stylesheet" href="/bower_components/switchery/dist/switchery.min.css">
		<link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css">
		<link rel="stylesheet" href="/bower_components/ladda/dist/ladda-themeless.min.css">
		<link rel="stylesheet" href="/bower_components/slick.js/slick/slick.css">
		<link rel="stylesheet" href="/bower_components/slick.js/slick/slick-theme.css">
		<!-- end: MAIN CSS -->
		<!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: Packet CSS -->
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/plugins.css">
		<link rel="stylesheet" href="/assets/css/rtl.css">
		<link rel="stylesheet" href="/assets/css/themes/lyt1-theme-1.css" id="skin_color">
		<!-- end: Packet CSS -->
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico" />
	</head>
	<!-- end: HEAD -->
	<!-- start: BODY -->
	<body class="login">
		<!-- start: REGISTRATION -->
    <div class="row">
    
      <%= form_for @user do |form| %>
			<div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
				<div class="logo text-center">
					<img src="/assets/images/logo-s.png" alt="{{app.name}}" class="img-responsive" />
				</div>
				<p class="text-center text-dark text-bold text-extra-large margin-top-15">
					Sign Up
        </p>
        <%= csrf_meta_tag %>

        <p class="text-center">
					Enter your personal details below:
				</p>
				<!-- start: REGISTER BOX -->
				<div class="box-register">
					<form class="form-register">
            <div class="form-group">
                <%= form.text_field :firstname , class: 'form-control' , placeholder: "first Name" %>
            </div>
						<div class="form-group">
                <%= form.text_field :lastname , class: 'form-control' , placeholder: "Last Name" %>
            </div>
						<p>

				<p class="text-center">
					Enter your personal details below:
				</p>
        <!-- start: REGISTER BOX -->

				<div class="box-register">
          <form class="form-register">
          <div class="form-group">
             <%= form.text_field :email, type: 'email' , class: 'form-control' , placeholder: "Email" %>
          </div>
          <div class="form-group">
             <%= form.text_field :username , class: 'form-control' , placeholder: "User Name" %>
          </div>
          <div class="form-group">
             <%= form.password_field :password , class: 'form-control' , placeholder: "Password" %>
          </div>


						
						
						
						<div class="form-group">
							<div class="checkbox clip-check check-primary">
								<input type="checkbox" id="agree" name="agree" value="agree">
								<label for="agree"> I agree </label>
							</div>
						</div>
						<div class="form-actions">
							<p class="text-center">
								Already have an account?
								<%= link_to t(".sign_in"), sign_in_path %>
								
              </p>
              
			  <button type="submit" class="btn btn-red btn-block">
			         Submit
		      </button>

            </div>
           
						<hr />
						<p class="margin-top-10 text-center">
							Or sign up with a social network
						</p>
						<div class="social-icons text-center">
							<ul>
								<li class="social-twitter" uib-tooltip="Twitter" tooltip-placement="top">
									<a target="_blank" href="#"> Twitter </a>
								</li>
								<li class="social-google" uib-tooltip="Google" tooltip-placement="top">
									<a target="_blank" href="#"> Google </a>
								</li>
								<li class="social-facebook" uib-tooltip="Facebook" tooltip-placement="top">
									<a target="_blank" href="#"> Facebook </a>
								</li>
							</ul>
						</div>
					</form>
					<!-- start: COPYRIGHT -->
					<div class="copyright">
						2016 &copy; Packet by ClipTheme.
					</div>
					<!-- end: COPYRIGHT -->
				</div>
				<!-- end: REGISTER BOX -->
      </div>
      <% end %>
		</div>
		<!-- end: REGISTRATION -->
		<!-- start: MAIN JAVASCRIPTS -->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/components-modernizr/modernizr.js"></script>
		<script src="/bower_components/js-cookie/src/js.cookie.js"></script>
		<script src="/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
		<script src="/bower_components/jquery-fullscreen/jquery.fullscreen-min.js"></script>
		<script src="/bower_components/switchery/dist/switchery.min.js"></script>
		<script src="/bower_components/jquery.knobe/dist/jquery.knob.min.js"></script>
		<script src="/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
		<script src="/bower_components/slick.js/slick/slick.min.js"></script>
		<script src="/bower_components/jquery-numerator/jquery-numerator.js"></script>
		<script src="/bower_components/ladda/dist/spin.min.js"></script>
		<script src="/bower_components/ladda/dist/ladda.min.js"></script>
		<script src="/bower_components/ladda/dist/ladda.jquery.min.js"></script>
		<!-- end: MAIN JAVASCRIPTS -->
		<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<script src="/bower_components/ckeditor/ckeditor.js"></script>
		<script src="/bower_components/ckeditor/adapters/jquery.js"></script>
		<script src="/bower_components/bb-jquery-validation/dist/jquery.validate.js"></script>
		<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
		<!-- start: Packet JAVASCRIPTS -->
		<script src="/assets/js/letter-icons.js"></script>
		<script src="/assets/js/main.js"></script>
		<!-- end: Packet JAVASCRIPTS -->
		<!-- start: JavaScript Event Handlers for this page -->
		<script src="/assets/js/login.js"></script>
		<script>
			jQuery(document).ready(function() {
			//	Main.init();
				//Login.init();
			});
		</script>
		<!-- end: JavaScript Event Handlers for this page -->
	</body>
</html>











